@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;

}

html,
body {
    background-color: #f4f4f4;
}

.application__wrapper {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

.sidebar {
    position: fixed;
    background-color: #ffffff;
    width: 275px;
    height: 100%;
    padding: 20px 0;
    overflow-x: hidden;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease all;
}
#sidebar.active {
    width: 0px;


}

.sidebar ul li a,
.dropdown-btn {
    padding: 13px 18px;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: 0.6s;
    text-align: left;
    outline: none;
    color: black;
    font-size: 14px;
}


.dropdown-btn {
    border: none;
    background: none;
}


.sidebar ul li a:hover,
.dropdown-btn:hover {
    background-color: #F6F6F6;
    opacity: 1;

}

.sidebar-active{
    background-color: #eae7e7;
    opacity: 1;
}


.dropdown-container {
    background-color: #ffffffb0;
    display: none;

}

.changePassword-btn{
    border: none;
    background: none;
    padding: 13px 18px;
    width: 100%;
    opacity: 0.6;
    transition: 0.6s;
}

.changePassword-btn:hover{
    opacity: 1;
    background-color: #F6F6F6;
}

.changePassword-title{
    margin-left: 20px;
}

.changePassword-modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s;
    z-index: 2;
  }

  .changePassword-modal.visible{
    visibility: visible;
    opacity: 1;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px 20px 20px 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
    border-radius: 3%;
    
  }

  .modal-changePassword-title{
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(176, 176, 176);
  }

  .form-password{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-top: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .submit-changePassword-btn{
    float: right;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    font-size: 15px;
  }

.dropdown-item {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.item {
    margin-left: 20px;
    width: 180px;
}

.arrow {
    margin-right: 10px;
}



.item-label {
    margin-top: 60px;
}


.navbar {
    background-color: #ffffff;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}

.navbar-content {
    padding: 4px 16px;
    display: flex;
    width: 100%;
}

.navbar-content-left {
    display: flex;
}

.logo {
    display: flex;
    height: auto;
}

.space {
    width: 100%;
}

.username {
    width: 200px;
    text-align: right;
}

.title-username {
    font-weight: 600;
    font-size: 15px;
    margin-right: 16px;

}

.navbar-content-right {
    margin: auto;
    align-items: center;
    display: flex;

}

.icon-profile {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: lightgray;
}

.profile_icon {
    width: 30px;

}

.page-container {
    height: 100%;
    padding-top: 64px;
    margin-left: 275px;
    transition: 0.3s ease all;
}

#page.active {
    margin-left: 0;
}

.main-content{
    padding: 10px;
}

.container-top{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
    justify-content: space-between;
}

.title-smartswitch{
    font-size: 30px;
    font-weight: 700;
}

.create-smartswitch-btn{
    background-color: #02c002;
    color: white;
    height: 40px;
    width: 170px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.container-center{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.form-control{
    margin-bottom: 30px;
}

.container-center input[type=text]{
    width: calc(100% - 100px);
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cacacab0;
    padding-left: 15px;

}

.search-smartswitch-btn{
    float: right;
    color: white;
    height: 40px;
    width: 75px;
    border-radius: 5px;
    border: none;
    background-color: #02c002;
    font-size: 15px;
}

.card{
    border: 1px solid #4e4e4eb0;
    border-radius: 5px;
    height: 100%;
    align-items: center;
    /* padding: 25px; */
    margin-bottom: 10px;
}

.header-card{
    display: flex;
    margin: 25px;
}

.icon-show{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.title-area{
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.full-content{
    padding: 0 25px 25px 25px;
    display: none;
}

.content{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}

.content.show{
    display: flex;
    opacity: 1;
    transform: translateY(0);
}
.content-left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 70%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    
}

.map-img{
    width: 100%;
    z-index: 0;
}


.pulse-area{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.content-right{
    width: 25%;
}

.power-total{
    background-color: #1565c0;
    border-radius: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.power-left{
    background-color: #ffffff;
    border-radius: 50%;
    width: 38px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.power-right{
    margin-left: 30px;
    width: calc(100% - 50px);
    color: white;
}

.title-power-top{
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 2px;
}

.title-power-bot{
    font-size: 20px;
}

.switch-card{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.separator{
    border-width: thin 0 0;
    border-color: rgba(0,0,0,.12);
}

.list-switch{
    display: flex;
    align-items: center;
    padding: 0 16px;
    min-height: 70px;
}

.switch-content{
    width: 70%;
}

.title-spot{
    margin-bottom: 6px;
}

.status-box-on{
    color: #02c002;
    border-radius: 10px;
    border: 1px solid #02c002;
    width: 80px;
}

.status-box-off{
    color: #FF3838;
    border-radius: 10px;
    border: 1px solid #FF3838;
    width: 80px;
}


.title-status{
    text-align: center;
    font-size: 12px
}

.switch-action{
    width: 30%;
}

/* SWITCH */

.onoffswitch {
    float: right;
    position: relative; width: 35px;
    
   
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 13px; padding: 0; line-height: 13px;
    border: 0px solid #FFFFFF; border-radius: 23px;
    background-color: #FA7878;
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 23px; margin: -5px;
    background: #FF3838;
    position: absolute; top: 0; bottom: 0;
    right: 23px;
    border-radius: 23px;
    box-shadow: 0 6px 12px 0px #757575;
    transition: all 0.2s ease-in 0s; 
    
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #43F761;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #43F761;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #4caf50; 
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
    
}

/*pulse */
.blob {
    position: absolute;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
}

.green-active{
    background: #43F761;
    box-shadow: 0 0 0 0 #43F761;
    animation: pulse-green 2s infinite;
}

.red-inactive{
    background: #ff3838;
    box-shadow: 0 0 0 0 #ff3838;
    animation: pulse-red 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #43F761;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ff3838;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}







